@{
    ViewData["Title"] = "Privacy Policy";
}
<div>D
    <h2>Title of Each Blog</h2>
    <div>
        <h4>tag of what type of post it is eg. reciepe, experiment etc.</h4>
    </div>
        <img src="" alt="picture of the start to finish project" />
    <div>
        <p>A little about the project with ratings and difficulty level, is it worth it and price</p>
    </div>

    <div>
        <p>Ratings</p>
    </div>
</div>