@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead"> Coeliac friendly food blog, home of reviews, reciepes and opinions no one requested for!</p>
    <hr class="my-4">
    <p> This blog is primarily a testing ground to improve my coding abilities and apply what I've learnt'</p>
</div>